body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-family: courier;
  text-align: center;
}

h6 {
  font-family: courier;
}

input[type=text]{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }

input[type=text]:focus{
    border-color:pink;
    box-shadow:0 0 8px 0 pink;
  }

textarea:focus {
    width:100%;
    border-color:pink;
    box-shadow: 0 0 8px 0 pink;
    border:2px solid #aaa;
    resize: vertical;
    padding: 20px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: pink;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.form-inline button:hover {
  background-color: gray;
  border-radius: 8px;
}


.snowflake {
	position: fixed;
	background-color: #CCC;
	user-select: none;
	z-index: 1000;
	pointer-events: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url(images/flowers.png);
  min-height: 75%;
}

.menu {
  display: none;
}

.top,.bottom{
  position:fixed;width:100%;z-index:1
  }

.top{
  top:0
  }

.bottom{
  bottom:0
}

.button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;o
  verflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;cursor:pointer;
  white-space:nowrap
}

.black{
  color:#fff;
  background-color:#000
}

.block{
  display:block;
  width:100%
}

.col{
  padding:0 8px
  width:24.99999%
}

.col.s1{width:8.33333%}.col.s2{width:16.66666%}.col.s3{width:24.99999%}.col.s4{width:33.33333%}
.col.s5{width:41.66666%}.col.s6{width:49.99999%}.col.s7{width:58.33333%}.col.s8{width:66.66666%}
.col.s9{width:74.99999%}.col.s10{width:83.33333%}.col.s11{width:91.66666%}.col.s12{width:99.99999%}

.display-con{
  position:relative
}

.txtwhite{
  color:#fff
}

.dispbotri{
  position:absolute;
  right:0;bottom:0;
}

.center{
  text-align:center
}

.padding-large{
  padding:12px 24px
}

.dispbotle{
  position:absolute;
  left:0;
  bottom:0;
}

.graymin{
  filter:grayscale(50%)
}

.gray{
  filter:grayscale(75%)
}

.large{
  font-size:18px
}

.sand,.hover-sand:hover{
  color:#000;
  background-color:#fdf5e6
}

.dispmid{
  position:absolute;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%)
}

.hidsmall{
  display:none
}

.mob{
  display:block;width:100%
}

.cont,.panel{
  padding:0.01em 16px
  }

.panel{
  margin-top:16px;
  margin-bottom:16px
}

.conte,.auto{
  margin-left:auto;
  margin-right:auto
}

.conte{
  max-width:980px
}

.wide{
  letter-spacing:4px
}

.panel{
  padding:0.01em 16px
}

.panel{
  margin-top:16px;
  margin-bottom:16px
}

.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{
content:"";display:table;clear:both
}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{padding:0 8px}
.padding-small{
  padding:4px 8px
}
.padding{
  padding:8px 16px
}

.padding-large{
  padding:12px 24px
}

.padding-16{
  padding-top:16px;
  padding-bottom:16px
}

.padding-24{
  padding-top:24px;
  padding-bottom:24px
}

.padding-32{
  padding-top:32px;
  padding-bottom:32px
}

.padding-48{
  padding-top:48px;
  padding-bottom:48px
}

.padding-64{
  padding-top:64px;
  padding-bottom:64px
}

.tag{
  background-color:#000;
  color:#fff;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  text-align:center
}

.leftbar{
  border-left:6px solid #ccc
}
.rightbar{
  border-right:6px solid #ccc
}

.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{
  color:#000;
  background-color:#f1f1f1
}

.card,.card-2{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.card-4,.hover-shadow:hover{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{
  color:#757575
}

.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{
  color:#fff;
  background-color:#616161
}

.margin-top{
  margin-top:16px
}

.display-container{
  position:relative
}

.button:hover{
  color:#000;
  background-color:#ccc
}
